<!--this page will be displayed on the website when user registered a new account successfully-->
<body>
<mat-card class="example-card" style="text-align: center;">
    
    <mat-card-content>
          <h2>AWESOME!</h2>
          <h3>Dear Student,</h3>
          <h3>Your Registration has been successfully received.</h3>
       
        <p> We will process your request and send you a confirmation email within 5 working days.</p>
        <br/>
        <br/>
        <p>Regards</p>
        <p>Skillsme Uni Team  </p>
        <img src='../../../assets/logo.png' alt="logo" style="width:200px;height:100px;">
    </mat-card-content>

  </mat-card>

</body>