<!--this is the dashboard home page, it will list the latest news of the website-->
<div class="header"><h3>Welcome {{email}}</h3>
    <h4>What's new </h4></div>
<div class="photobox">
    <div class="box"><img src="assets/images/barcity.gif"alt="AUT"/>
    <div class = "fbinner"><h2>AUT Hackathon</h2>
    <div class="desc"><p>Lorem imsum donor sit amet,</p></div>
    </div>
</div>

    <div class="box"><img src="assets/images/pinkcity.gif"alt="AUT"/>
        <div class = "fbinner"><h2>AUT Hackathon</h2>
        <div class="desc"><p>Lorem imsum donor sit amet,</p></div>
        </div>
    </div>

    <div class="box"><img src="assets/images/city.gif"alt="AUT"/>
            <div class = "fbinner"><h2>AUT Hackathon</h2>
            <div class="desc"><p>Lorem imsum donor sit amet,</p></div>
            </div>
        </div>
    <div class="box"><img src="assets/images/aut.jpg"alt="AUT"/>
                <div class = "fbinner"><h2>AUT Hackathon</h2>
                <div class="desc"><p>Lorem imsum donor sit amet,</p></div>
                </div>
            </div>

    
    <!--<div class="secondbox"><img src="assets/images/logobeta.png" width= "400" height="200"/></div>
    <div class="thirdbox"><img src="assets/images/logobeta.png" width= "400" height="200"/></div>
    <div class="fourthbox"><img src="assets/images/logobeta.png" width= "400" height="200"/></div>-->
</div>

